---
interface Props {
  class?: string;
  title?: string;
  desc?: string;
}

const className = Astro.props.class;

const props = Astro.props;

---
<section class={`${className}`}>
  <div class="flex flex-col items-center gap-10">
      <div class="text-2xl lg:text-4xl font-medium text-black">
        {props.title}
      </div>
      <div class="max-w-4/5 text-center text-base text-gray-11 font-light">
        {props.desc}
      </div>
      <slot name="buttonGroup" />
    </div>
    <div class="flex justify-center w-full">
      <slot name="content">
    </div>

</section>
