---
import CardCarousel from "../components/card-carousel/CardCarousel.astro";
import Button from "../components/button/Button.astro";
import { useTranslations, localizeUrl } from "@/i18n/utils";

const locale = Astro.currentLocale || 'root';
const t = useTranslations(locale);

interface CaseCard {
  author: string;
  title: string;
  desc: string;
  link: string;
  bgColor: string;
  color: string;
}

const cases: CaseCard[] = [
  {
    author: t('home.customers.case.ctrip.author'),
    title: t('home.customers.case.ctrip.title'),
    desc: t('home.customers.case.ctrip.desc'),
    link: localizeUrl("/blog/higress-gvr7dx_awbbpb_gi01wdalqztg58z3", locale),
    bgColor:
      "linear-gradient(47deg, rgb(62, 92, 244) 0%, rgb(62, 92, 244) 100%) rgb(62, 92, 244)",
    color: "#fff",
  },
  {
    author: t('home.customers.case.junrun.author'),
    title: t('home.customers.case.junrun.title'),
    desc: t('home.customers.case.junrun.desc'),
    link: localizeUrl("/blog/higress-gvr7dx_awbbpb_syyw2bkfzlsyfu9v", locale),
    bgColor:
      "linear-gradient(47deg, rgb(75, 79, 92) 0%, rgb(75, 79, 92) 100%) rgb(75, 79, 92)",
    color: "#fff",
  },
  {
    author: t('home.customers.case.alibaba.author'),
    title: t('home.customers.case.alibaba.title'),
    desc: t('home.customers.case.alibaba.desc'),
    link: localizeUrl("/blog/higress-gvr7dx_awbbpb_vetuzf7sbuixi2b2", locale),
    bgColor:
      "linear-gradient(47deg, rgb(62, 92, 244) 0%, rgb(62, 92, 244) 100%) rgb(62, 92, 244)",
    color: "#fff",
  },
  {
    author: t('home.customers.case.sofa.author'),
    title: t('home.customers.case.sofa.title'),
    desc: t('home.customers.case.sofa.desc'),
    link: localizeUrl("/blog/higress-gvr7dx_awbbpb_tng81uvf75an4l9u", locale),
    bgColor:
      "linear-gradient(47deg, rgb(220, 222, 228) 0%, rgb(220, 222, 228) 100%) rgb(220, 222, 228)",
    color: "#121316",
  },
  {
    author: t('home.customers.case.zc.author'),
    title: t('home.customers.case.zc.title'),
    desc: t('home.customers.case.zc.desc'),
    link: localizeUrl("/blog/higress-gvr7dx_awbbpb_cdecsfkegx4bc2n8", locale),
    bgColor:
      "linear-gradient(47deg, rgb(75, 79, 92) 0%, rgb(75, 79, 92) 100%) rgb(75, 79, 92)",
    color: "#fff",
  },
  {
    author: t('home.customers.case.investoday.author'),
    title: t('home.customers.case.investoday.title'),
    desc: t('home.customers.case.investoday.desc'),
    link: localizeUrl("/blog/higress-gvr7dx_awbbpb_gyn0uxmhhzz2pkne", locale),
    bgColor:
      "linear-gradient(47deg, rgb(220, 222, 228) 0%, rgb(220, 222, 228) 100%) rgb(220, 222, 228)",
    color: "#121316",
  },
];
---

<section class="px-4 md:px-6 lg:px-10">
  <div class="mb-10 flex flex-col gap-4 items-center justify-center">
      <div class="text-[1.5rem] md:text-[2.5rem] whitespace-pre-line text-center">{t('home.customers.title')}</div>
      <a href={localizeUrl("blog/case", locale)}>
        <Button mode="normal" width="10rem" >
          {t('home.customers.learn_more')}
        </Button>
      </a>
    </div>
  <div class="mx-auto">
    <CardCarousel items={cases} />
  </div>
</section>
