---
import { useTranslations } from "@/i18n/utils";
const locale = Astro.currentLocale || 'root';
const t = useTranslations(locale);
const imgSrc = locale === "en" ? "https://framerusercontent.com/images/fckOoWDkmJvZSCKwOhQLNQ0vQ.png?width=5163&height=3255" : "https://framerusercontent.com/images/Tq5OTIrnDjn9K6bHAMXw9BYVgw.png?width=5163&height=3255"
---
<section class="w-full py-14 px-4 md:px-6 lg:px-10">
  <div class="mx-auto flex flex-col gap-10">
    <div class="flex flex-col items-center justify-center">
      <div class="text-[1.5rem] md:text-[2.5rem]">{t('home.gateway.solution.title')}</div>
      <p class="text-gray-11">{t('home.gateway.solution.description')}</p>
    </div>

    <img
    src={imgSrc}
    loading="lazy"
    decoding="async"
    alt="Gateway Solution Architecture"
    />
  </div>
</section>
