---
import { useTranslations } from "@/i18n/utils";
const locale = Astro.currentLocale || 'root';
const t = useTranslations(locale);
const imgSrc = locale === "en" ? "https://img.alicdn.com/imgextra/i4/O1CN01xObZKW242ZTA1j9Hz_!!6000000007333-2-tps-3873-2442.png" : "https://img.alicdn.com/imgextra/i4/O1CN01CjmViI21hqJQwndLu_!!6000000007017-2-tps-3873-2442.png"
---
<section class="w-full py-14 px-4 md:px-6 lg:px-10">
  <div class="mx-auto flex flex-col gap-10">
    <div class="flex flex-col items-center justify-center">
      <div class="text-[1.5rem] md:text-[2.5rem]">{t('home.gateway.solution.title')}</div>
      <p class="text-gray-11">{t('home.gateway.solution.description')}</p>
    </div>

    <img
    src={imgSrc}
    loading="lazy"
    decoding="async"
    alt="Gateway Solution Architecture"
    />
  </div>
</section>
