---
import Button from "../components/button/Button.astro";
import Popover from "../components/popover/Popover.astro";

const currentYear = new Date().getFullYear();
const isEnglish = Astro.currentLocale === "en";

const links = [
  {
    label: "Nacos",
    link: "https://nacos.io",
  },
  {
    label: "SpringCloudAlibaba",
    link: "https://sca.aliyun.com",
  },
  {
    label: "SpringAIAlibaba",
    link: "https://java2ai.com",
  },
  {
    label: "Arthas",
    link: "https://arthas.aliyun.com/",
  },
  {
    label: "Dubbo",
    link: "https://cn.dubbo.apache.org",
  },
  {
    label: "Sentinel",
    link: "https://sentinelguard.io",
  },
  {
    label: "RocketMQ",
    link: "https://rocketmq.io",
  },
  {
    label: "可观测中文",
    link: "https://observability.cn",
  },
  {
    label: "OpenKruise",
    link: "https://openkruise.io",
  },
  {
    label: "Serverless Devs",
    link: "https://serverless-devs.com",
  },
].filter(item => {
  if (isEnglish && item.label === "可观测中文") {
    return false;
  }
  return true;
});

---

<footer class="page-footer flex flex-col gap-10 w-full px-4 lg:px-10 pb-10">
  <div class="w-full flex flex-col lg:flex-row h-auto lg:h-96 bg-[#EBECEF] p-6 lg:p-10 rounded-2xl gap-8 lg:gap-0">
    <div class="flex-1 flex flex-col gap-6">
      <div class="text-[28px] text-black font-light">联系我们</div>
      <div class="text-[18px] text-[#A3A6B3]">可以通过以下方式获取我们最新动态渠道</div>
      <div class="hidden lg:flex flex-wrap gap-4 lg:gap-6">
        <Popover placement="bottom">
          <Button width="155px" mode="normal">
            <span class="text-xs">
              钉钉群
            </span>
          </Button>
          <img slot="content" src="/images/dingding.avif" alt="DingDing QR" class="w-32" />
        </Popover>
        <Popover placement="bottom">
          <Button width="155px" mode="normal">
            <span class="text-xs">
              微信群
            </span>
          </Button>
          <div class="flex flex-col gap-2 max-w-32 justify-center" slot="content">
            <img slot="content" src="/images/wx.avif" alt="WeChat QR" class="w-32" />
            <span class="text-[10px] text-center text-black">
              如过期请加微信：nomadao，注明 higress
            </span>
          </div>
        </Popover>
        <Popover placement="bottom">
          <Button width="155px" mode="normal">
            <span class="text-xs">
              Higress 公众号
            </span>
          </Button>
          <img slot="content" src="/images/higress.jpg" alt="WeChat QR" class="w-32" />
        </Popover>
        <Popover placement="bottom">
          <Button width="155px" mode="normal">
            <span class="text-xs">
              云原生公众号
            </span>
          </Button>
          <img slot="content" src="/images/ali-cloud.jpg" alt="WeChat QR" class="w-32" />
        </Popover>
      </div>
      <div class="flex lg:hidden flex-wrap gap-4">
        <div class="flex flex-col gap-2">
          <span class="text-xs">钉钉群</span>
          <img src="/images/dingding.avif" alt="DingDing QR" class="w-32" />
        </div>
        <div class="flex flex-col gap-2">
          <span class="text-xs">微信群</span>
          <img src="/images/wx.avif" alt="WeChat QR" class="w-32" />
          <span class="text-[10px] text-black max-w-32">如过期请加微信：nomadao，注明 higress</span>
        </div>
        <div class="flex flex-col gap-2">
          <span class="text-xs">Higress 公众号</span>
          <img src="/images/higress.jpg" alt="Higress Pub QR" class="w-32" />
        </div>
        <div class="flex flex-col gap-2">
           <span class="text-xs">云原生公众号</span>
           <img src="/images/ali-cloud.jpg" alt="Cloud Native Pub QR" class="w-32" />
        </div>
      </div>
    </div>
    <div class="lg:w-1/3 w-full">
      <div class="flex justify-between lg:justify-end lg:gap-36">
        <div class="flex flex-col">
          <div class="text-xs text-[#A3A6B3] pb-6 lg:pb-12">菜单</div>
          <ul class="flex flex-col gap-3">
            <li>主页</li>
            <li>文档</li>
            <li>AI 实验室</li>
            <li>社区</li>
            <li>企业版</li>
          </ul>
        </div>
        <div class="flex flex-col lg:mr-36">
          <div class="text-xs text-[#A3A6B3] pb-6 lg:pb-12">资讯</div>
          <ul class="flex flex-col gap-3">
            <li>最新动态</li>
            <li>企业实践</li>
            <li>联系我们</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="h-px bg-gray-200 w-full"></div>
  <div class="flex flex-col gap-4">
    <div class="flex flex-col lg:flex-row gap-2 justify-center items-center">
      <div class="text-xs text-[#A3A6B3] whitespace-nowrap">友情链接：</div>
      <div class="flex flex-wrap justify-center gap-y-2">
        {links.map((item) => (
          <a href={item.link} target="_blank" class="footer-link text-xs text-[#A3A6B3] hover:text-primary transition-colors px-3">
            {item.label}
          </a>
        ))}
      </div>
    </div>
    <div class="text-xs text-gray-400 text-center flex flex-col gap-1">
      <div>© Higress Authors {currentYear} | Documentation Distributed under CC-BY-4.0</div>
      <div>
        Copyright © 2022-{currentYear}, Alibaba. All rights reserved. Alibaba has registered trademarks and uses trademarks.
      </div>
      <div>浙公网安备 33011002016922 号 浙 ICP 备 12022327 号-1119</div>
    </div>
  </div>
</footer>

<style>
.page-footer {
  li {
    color: oklch(from var(--color-black) 50% c h);
  }

  .footer-link {
    position: relative;
    &:not(:last-child)::after {
      content: "";
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 1px;
      height: 10px;
      background-color: var(--color-gray-400)
    }
  }
}
</style>
