---
import { useTranslations } from "@/i18n/utils";

const locale = Astro.currentLocale || 'root';
const t = useTranslations(locale);

const sense = [
  {
    label: t('home.sense.item.multi_model.label'),
    link: "https://higress.cn/ai/scene-guide/multi-proxy",
    desc: t('home.sense.item.multi_model.desc'),
    img: locale === "en" ? "https://img.alicdn.com/imgextra/i2/O1CN017XfQ8o1GnXIHX9JMr_!!6000000000667-55-tps-200-122.svg" : "https://img.alicdn.com/imgextra/i3/O1CN01KYQYvl1TVkvIqnXck_!!6000000002388-55-tps-200-122.svg",
  },
  {
    label: t('home.sense.item.app_protection.label'),
    link: "",
    desc: t('home.sense.item.app_protection.desc'),
    img: locale === "en" ? "https://img.alicdn.com/imgextra/i1/O1CN01xk7hmV1WDNsoWi4BT_!!6000000002754-55-tps-250-157.svg" : "https://img.alicdn.com/imgextra/i2/O1CN01vmks7I1EDEfejjhPw_!!6000000000317-55-tps-250-157.svg",
  },
  {
    label: t('home.sense.item.ai_cache.label'),
    link: "https://higress.cn/ai/scene-guide/semantic-cache",
    desc: t('home.sense.item.ai_cache.desc'),
    img: locale === "en" ? "https://img.alicdn.com/imgextra/i4/O1CN014UPFgI1hCQphZLXiB_!!6000000004241-55-tps-206-164.svg" : "https://img.alicdn.com/imgextra/i3/O1CN01j6yIWV26MqEGBpY5F_!!6000000007648-55-tps-206-164.svg",
  },
  {
    label: t('home.sense.item.token_management.label'),
    link: "https://higress.cn/ai/scene-guide/token-management",
    desc: t('home.sense.item.token_management.desc'),
    img: locale === "en" ? "https://img.alicdn.com/imgextra/i3/O1CN01aU0Wqp1qm08Mzdb3W_!!6000000005537-55-tps-256-155.svg" : "https://img.alicdn.com/imgextra/i3/O1CN01BOjI971Uh2IFz9NiT_!!6000000002548-55-tps-256-155.svg",
  },
]
---
<section class="px-4 md:px-6 lg:px-10">
  <div class="mb-10 flex flex-col items-center justify-center">
    <div class="text-[1.5rem] md:text-[2.5rem]">{t('home.sense.title')}</div>
    <p class="text-gray-400 mb-0">{t('home.sense.description')}</p>
  </div>
  <div class="grid grid-cols-1 gap-6 md:grid-cols-2 lg:grid-cols-4">
    {
      sense.map(s => {
        return (
        <div class="card flex flex-col gap-3">
          <div class="card-header rounded-lg">
            <div class="flex justify-center items-center w-full h-full">
              <img src={s.img}>
            </div>
          </div>
          <div class="flex flex-col gap-3">
            <div class="text-black text-lg">{s.label}</div>
            <a href={s.link} target="_blank" class="detail-link text-primary text-xs inline-flex items-center gap-1">
              <span>{t('home.sense.detail.link')}</span>
              <svg class="detail-arrow fill-primary" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="none" version="1.1" width="8" height="8" viewBox="0 0 12 12">
                <g transform="matrix(-1,0,0,1,24,0)">
                  <path d="M13.9085488,3.2445331L13.9085488,10.49702Q13.9085488,10.902587,13.633718,11.177418Q13.358887,11.177418,12.954274,11.151293Q12.54870754,11.451293,12.27483088,11.176462Q12.00095420511,10.90163,12,10.49702L12,0.95427454Q12,0.54870796,12.27483088,0.27483124Q12.54966176,0.0009545465,12.954274,0L22.497017,0Q22.902583999999997,0,23.177414,0.27483088Q23.452244,0.54966176,23.451292000000002,0.95427454Q23.451292000000002,1.3598411,23.17646,1.6346719Q22.901628000000002,1.909503,22.497017,1.9085487L15.2445326,1.9085487L23.737576,10.401592Q24,10.664019,24,11.069584Q24,11.475149,23.737576,11.737576Q23.475149000000002,12,23.069584,12Q22.664019,12,22.401592,11.737576L13.9085488,3.2445331Z" fill-opacity="1"/>
                </g>
              </svg>
            </a>
            <div class="text-black text-sm leading-9">
              {s.desc}
            </div>
          </div>
        </div>
        )
      })
    }
  </div>
</section>

<style>
.card {
  .card-header {
    background-image: url("https://img.alicdn.com/imgextra/i1/O1CN01L0NG3P1VgrlKrpDqR_!!6000000002683-2-tps-312-197.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
  }
}

.detail-link {
  position: relative;
  transition: all 0.3s ease;
  width: fit-content;
}

.detail-link::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 1px;
  background-color: currentColor;
  transition: width 0.3s ease;
}

.detail-link:hover::after {
  width: 100%;
}

.detail-link:hover {
  opacity: 0.8;
}

.detail-arrow {
  transition: transform 0.3s ease;
}

.detail-link:hover .detail-arrow {
  transform: translateX(4px);
}
</style>