---
import SiteLayout from "../layout/siteLayout.astro";
---
<SiteLayout title={"Higress - 云原生网关"}>
  <div class="px-8 pt-8 pb-16 sm:px-6 lg:px-8 lg:pt-36 lg:pb-24">
    开发中...
  </div>
</SiteLayout>
