---
import SiteLayout from "../layout/siteLayout.astro";
import MainHeroSection from "../container/main-hero.astro";
import GatewaySolution from "../container/gateway-solution.astro";
import Customers from "../container/customers.astro";
import Sense from "../container/sense.astro";
---
<SiteLayout title={"Higress - 云原生网关"}>
    <MainHeroSection />
    <div class="flex flex-col gap-30">
      <GatewaySolution />
      <Sense />
      <Customers />
    </div>
</SiteLayout>
