<div class="lg:sl-flex">
  {
		Astro.locals.starlightRoute.toc && (
			<aside class="right-sidebar-container print:hidden">
				<div class="right-sidebar">
					<slot name="right-sidebar" />
				</div>
			</aside>
		)
	}
	<div class="main-pane"><slot /></div>
</div>
<style is:global>
mobile-starlight-toc {
  #starlight__mobile-toc {
    .toggle {
      border: none;
    }
  }
}
.right-sidebar-container {
  .right-sidebar-panel {
    .sl-container  {
      width: 100%;
    }
    :where(a) {
      &:hover {
        color: var(--color-primary);
      }
    }
  }
}
.main-pane {
  #_top {
    max-width: 80%;
  }
}
</style>
<style>
@layer starlight.core {
		.main-pane {
			isolation: isolate;
		}




		@media (min-width: 72rem) {
			.right-sidebar-container {
				order: 2;
				position: relative;
				width: var(--sl-right-sidebar-width);
			}

			.right-sidebar {
				position: fixed;
				top: 0;
				inset-inline-end: 0;
				border-inline-start: 1px solid var(--sl-color-hairline);
				padding-top: var(--sl-nav-height);
				width: var(--sl-right-sidebar-width);
				height: 100vh;
				overflow-y: auto;
				scrollbar-width: none;
				overflow-wrap: break-word;
				white-space: normal;
				padding-bottom: 2rem;
			}

			.main-pane {
				width: 100%;
			}

			:global([data-has-sidebar][data-has-toc]) .main-pane {
				--sl-content-margin-inline: auto 0;

				order: 1;
				width: calc(100% - var(--sl-right-sidebar-width));
			}
		}
	}
</style>
