---
import { useTranslations, isChinese } from "@i18n/util";
import { SITE } from "@utils/config";
import Button from "@/components/common/Button.astro";
import { Github, Start } from "../icon";
import AOS from 'aos';
import 'aos/dist/aos.css'; 

const t = useTranslations(Astro);
const ifzh = isChinese(Astro);
---

<div class="home-introduce-wrapper h-[65vh] relative">
  <video
    autoplay
    muted
    loop
    class="video-background"
    poster="https://img.alicdn.com/imgextra/i1/O1CN01U3PG171Wiz4B85TGK_!!6000000002823-0-tps-2388-1168.jpg"
  >
    <source
      src="https://cloud.video.taobao.com/vod/play/V3VEOGxHS3IxSU5wWkFYeTFuZU4wdHJ2eXloK1g1aXlXV0pvNU0zVjhmYTZQZWw1SnpKVVVCTlh4OVFON0V5UUVMUDduY1RJak82VE1sdXdHTjNOaHc9PQ"
      type="video/mp4"
    />
  </video>
  <div
    class="introduce flex flex-col justify-center items-center bg-transparent h-full relative z-1"
    data-aos="fade-up"
  >
     <div class="flex flex-col justify-center items-center h-[75%]">
      <div
        class={`top-introduce-title leading-[96px] text-base-100 font-medium text-[2rem] ${ifzh ? 'sm:text-[72px]' : 'sm:text-[76px]'}`}
      >
        <!-- 使用两个 span 来分别显示“AI Gateway”和“AI Native API Gateway” -->
        <span class="ai-description step-1">AI Gateway</span>
        <span class="ai-description step-2"> <span class="typing-text">AI Native API Gateway</span></span>
      </div>
    </div>

    <div class="flex h-[15%]">
      <div class="shortcut flex justify-center">
        <Button
          size="large"
          class="rounded-3xl text-neutral"
          href={SITE.githubUrl}
          target="_blank"
          type="normal"
          iconClass="text-neutral"
        >
          <Github themeClass="neutral-fill" />
          <span class="text-[0.875rem] leading-4 ml-2 text-neutral">GitHub</span>
        </Button>

        <Button
          size="large"
          type="primary"
          class="rounded-3xl"
          href="/docs/latest/user/quickstart/"
          target="_self"
        >
          <Start themeClass="secondary-fill" />
          <span class="ml-2">{t("common.base.quick.start")}</span>
        </Button>
      </div>
    </div>
    <div class="versionInfo flex justify-end items-center h-[10%]">
      <a
        class="text-xs text-link block"
        href="https://github.com/alibaba/higress/releases/tag/v1.4.1"
        target="_blank"
      >
        Release Note of V1.4.1
      </a>
    </div>
  </div>
</div>

<script is:inline>
  // JavaScript 控制动画顺序
  document.addEventListener("DOMContentLoaded", () => {
    const step1 = document.querySelector('.step-1');
    const step2 = document.querySelector('.step-2');

    // 当第一个动画结束后，显示第二个动画
    step1.addEventListener('animationend', () => {
      step2.style.display = 'inline';
      step1.style.display = 'none'; // 隐藏第一个文本
    });
  });
</script>

<style is:global>
  .home-introduce-wrapper {
    .neutral-fill {
      color: theme("colors.neutral");
    }
    .secondary-fill {
      color: theme("colors.secondary");
    }
    .video-background {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 0;
      object-fit: cover;
    }
    .versionInfo {
      width: 85.125rem;
    }
    .top-section {
      width: 85.125rem;
      overflow: hidden;
    }
    .top-section .notes .pc-version-intro {
      display: inline;
    }
    .top-section .notes .mobile-version-intro {
      display: none;
    }
    .shortcut button {
      height: 3rem;
      min-height: 3rem;
      padding-left: 1rem;
      padding-right: 1rem;
    }

  .ai-description {
    background: linear-gradient(90deg, #6181ff 48%, #cac8fd 61%);
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block; /* 确保与 .typing-text 在同一行 */
    vertical-align: middle; /* 保持与 .typing-text 的对齐 */
  }

  .typing-text {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 4s steps(40, end), blink 0.75s step-end infinite;
    border-right: 3px solid black;
    vertical-align: middle; /* 保持与 .ai-description 的对齐 */
  }
  
  @keyframes typing {
    from { width: 0; }
    to { width: 100%; }
  }

  @keyframes blink {
    from, to { border-color: transparent; }
    50% { border-color: black; }
  }

    .step-1, .step-2 {
      overflow: hidden;
      white-space: nowrap;
      display: inline-block;
    }

    .step-1 {
      animation: expandText 2s steps(15) forwards;
    }

    .step-2 {
      display: none; /* Initially hidden */
      animation: expandText 2s steps(25) forwards;
    }

    @keyframes expandText {
      0% {
        opacity: 0;
        width: 0;
      }
      100% {
        opacity: 1;
        width: auto;
      }
    }

    .bottom-section {
      width: 85.125rem;
    }
    .bottom-section .desc {
      width: 9.75rem;
      height: 22.5rem;
      background-color: theme("colors.warning");
      transition: width 0.8s;
    }

    .bottom-section .desc .text {
      opacity: 0;
      transition: opacity 0.8s;
    }
    .bottom-section .log {
      flex: 1;
      display: flex;
      position: relative;
      overflow: hidden;
      transition: width 0.8s;
    }
    .bottom-section .desc:hover {
      width: 31.25rem;
    }
    .bottom-section .desc:hover .log {
      flex: 1;
    }
    .bottom-section .desc:hover .text {
      opacity: 1;
    }
    .bottom-section .desc:hover .arrow {
      display: none;
    }
    .divider-horizontal {
      width: 1px;
      margin-left: 0.5rem;
      margin-right: 0.5rem;
    }
    a {
      text-decoration: none;
    }
    .fork {
      background: rgba(244, 244, 246, 0.2);
      backdrop-filter: blur(36px);
    }
    .fork:hover {
      background: rgba(244, 244, 246, 0.2) !important;
      backdrop-filter: blur(36px);
    }

    @media (max-width: 85.125rem) {
      .introduce {
        min-height: 0;
        padding: 1.5rem;
      }
      .top-section,
      .introduce {
        width: 100%;
      }
      .versionInfo {
        width: 100%;
      }
      .top-section .notes .pc-version-intro {
        display: none;
      }
      .top-section .notes .mobile-version-intro {
        display: inline;
      }
      .shortcut button {
        min-height: 2rem;
        padding-left: 0.75rem;
        padding-right: 0.75rem;
      }
      .top-section .notes {
        margin-top: 1.25rem;
      }
      .bottom-section {
        width: 100%;
        display: none !important;
      }
      .mobile-bottom-section {
        display: block !important;
      }
      .mobile-bottom-section .btn:hover {
        background-color: theme(colors.neutral) !important;
      }
    }

    @media (min-width: 50rem) and (max-width: 86rem) {
      .introduce {
        padding: 2.5rem;
        width: 100%;
      }
      .top-section,
      .bottom-section,
      .versionInfo {
        width: 100%;
      }
      .top-section .notes .pc-version-intro {
        display: none;
      }
      .top-section .notes .mobile-version-intro {
        display: inline;
      }
      .bottom-section .desc div {
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 4;
      }
    }
  }
</style>
