---
import { useTranslations } from "@i18n/util";
import { Headline } from "@serverless-cd/goat-ui";
import Button from "@components/common/Button.astro";

const t = useTranslations(Astro);
---

<span class="open-ecosystem-wrapper">
  <open-ecosystem
    class="open-ecosystem block bg-neutral py-10 flex justify-center items-center"
  >
    <div
      class="ecosystem-container flex flex-col justify-center items-center"
      data-aos="fade-up"
      data-aos-duration="1500"
    >
      <Headline
        classes={{ subtitle: "text-sm" }}
        title={t("home.open.ecosystem.title")}
        titleTheme="error"
        taglineTheme="info"
        subtitle={t("home.open.ecosystem.subtitle")}
        subtitleTheme="success"
        data-aos="fade-right"
        data-aos-duration="1500"
        data-aos-delay="200"
      />

      <img
        class="w-[80%]"
        alt={t("home.open.ecosystem.title")}
        src="https://img.alicdn.com/imgextra/i3/O1CN01fP1req1hWa70Cp4EG_!!6000000004285-2-tps-2728-1405.png"
        decoding="async"
        loading="lazy"
        data-aos="fade-left"
        data-aos-duration="1500"
        data-aos-delay="400"
      />

      <div
        data-aos="zoom-in"
        data-aos-duration="1500"
        data-aos-delay="500"
      >
      <Button
        size="large"
        type="normal"
        class="open-ecosystem-btn rounded-3xl text-neutral"
        href="https://higress.cn/plugin/"
        iconClass="text-neutral"
      >
        {t("home.contributors.learn.more")}
      </Button>
      </div>
    </div>
  </open-ecosystem>
</span>

<style is:global>
  .open-ecosystem-wrapper {
    .ecosystem-container  {
      width: 85.125rem;
    }

    /* 小于50rem  小于 800px */
    @media (max-width: 50rem) {
      .ecosystem-container  {
        padding: 1.5rem;
        width: 100%;
      }
    }

    /* 大于50rem 小于 72rem  800px < width < 1152 */
    @media (min-width: 50rem) and (max-width: 86rem) {
      .ecosystem-container  {
        padding: 2.5rem;
        width: 100%;
      }
    }

    .open-ecosystem-btn {
      width: 10.375rem;
      height: 3.25rem;
    }
  }
</style>

<script client:only="browser">
  import AOS from "aos";
  import "aos/dist/aos.css";

  AOS.init();
</script>
